<!--变更单处理--“查找变更单”模态窗口-->
<!--<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">-->
<!-- 引导样式表 -->
<link rel="stylesheet" href="/stylesheets/bootstrap-datetimepicker.min.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap-clockpicker.min.css">
<!--<link rel="stylesheet" href="/resources/demos/style.css">-->
<form action="/task/findAllTask" id="formAddTask" class=" bs-component form-horizontal" method='post'>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myLargeModalLabel">查找所有变更单</h4>
    </div>
    <div  class="modal-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">

                    <div class="form-group">
                        <label for="projectName" class="col-sm-2 control-label">所属项目</label>
                        <div class="col-sm-4">
                            <select class="form-control" name="projectName">
                                <option value="" selected >--请选择--</option>
                                <%if(projects && projects.length>0){%>
                                    <%projects.forEach(function(pro,i){%>
                                        <option value="<%=pro.projectId%>"><%=pro.projectName%></option>
                                    <%})%>
                                <%}%>
                            </select>
                        </div>

                    </div>

                    <div class="form-group">
                        <label for="taskCreater" class="col-sm-2 control-label">发起者</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" name="taskCreater" id="taskCreater" placeholder="真实姓名 (如：张三)">
                        </div>
                        <label for="taskState" class="col-sm-1 control-label">状态</label>
                        <div class="col-sm-4">
                            <select class="form-control" name="taskState">
                                <option value="" selected >--请选择--</option>
                                <option value="未完成" >未上测试库完成</option>
                                <option value="申请完成" >申请完成</option>
                                <option value="旧文件已提取" >旧文件已提取</option>
                                <option value="变更文件已提交" >变更文件已提交</option>
                                <option value="已安排走查" >已安排走查</option>
                                <option value="走查通过" >走查通过</option>
                                <option value="走查不通过" >走查不通过</option>
                                <option value="上测试库" >上测试库</option>
                                <option value="上测试库完成" >上测试库完成</option>
                                <option value="测试通过" >测试通过</option>
                                <option value="测试不通过" >测试不通过</option>
                                <option value="BUG确认" >BUG确认</option>
                                <option value="上发布库" >上发布库</option>
                                <option value="已自动上发布库" >已自动上发布库</option>
                                <option value="上发布库失败" >上发布库失败</option>
                                <option value="上发布库完成" >上发布库完成</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="taskDealer" class="col-sm-2 control-label">处理人</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" name="taskDealer" id="taskDealer" placeholder="真实姓名 (如：张三)">
                        </div>


                        <label for="taskStep" class="col-sm-1 control-label">环节</label>
                        <div class="col-sm-4">
                            <select class="form-control" name="taskStep">
                                <option value="" selected >--请选择--</option>
                                <option value="99" >未上测试库</option>
                                <option value="3" >提取&上传变更文件</option>
                                <option value="4" >安排走查</option>
                                <option value="5" >走查</option>
                                <option value="6" >上测试库</option>
                                <option value="8" >测试</option>
                                <option value="9" >测试完成</option>
                                <option value="10" >bug确认</option>
                                <option value="11" >确认</option>
                                <option value="12" >上发布库</option>
                                <option value="13" >上发布库完成</option>
                            </select>
                        </div>

                    </div>
                    <div class="form-group">
                        <label for="taskCode" class="col-sm-2 control-label">变更单号</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="taskCode" id="taskCode" placeholder="请填写变更单号  (如：ncrm01)">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="taskName" class="col-sm-2 control-label">变更单名称</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="taskName" id="taskName" placeholder="请填写变更单名称  (如：CRM数据变更单-20150101-001-zhangsan-001)">
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="beginDate" class="col-sm-2 control-label">开始时间</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" name="startDate" id="startDate" style="">
                        </div>
                        <div class="input-group clockpicker col-sm-2"  data-placement="top" data-align="top" data-autoclose="true">
                            <input type="text" class="form-control" id ="startTime" name="startTime" value="09:00">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-time"></span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="endDate" class="col-sm-2 control-label">结束时间</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" name="endDate" id="endDate" >
                        </div>
                        <div class="input-group clockpicker col-sm-2"   data-placement="top" data-align="top" data-autoclose="true">
                            <input type="text" class="form-control" id ="endTime" name ="endTime" value="24:00">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-time"></span>
                            </span>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div style="width:78%;float:left;margin-bottom:-20px;margin-top:-9px;height:50px;" id="diaSuccessTip" class="alert alert-success alert-dismissible" role="alert">
            <span style="text-align:center;margin-left:auto;margin-right:auto;display:block;"  >
                <strong id ="#applyMessage" name ="applyMessage" >操作完成</strong>
            </span>
        </div>
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="submit" id ="btnFindAllTask" class="btn btn-primary" >查询</button>
    </div>
</form>
<!--<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>-->
<script type="text/javascript" src="/javascripts/bootstrap-clockpicker.min.js"></script>
<script>
    $(function() {
        $( "#startDate").datetimepicker({format:"yyyy-mm-dd",
            autoclose:true,
            minView:3,
            pickerPosition:"top-right"});

    });
    $(function() {
        $( "#endDate" ).datetimepicker({format:"yyyy-mm-dd",
            autoclose:true,
            minView:3,
            pickerPosition:"top-right"});
    });
    $('.clockpicker').clockpicker();

</script>
<script>
    var storeSearch = function(){
        var userId =$('[name=userId]').val();
        var projectId =$('[name=projectName]').val();
        var state = $('[name=taskState]').val();
        var processStepId = $('[name=taskStep]').val();
        var taskCode =$('[name=taskCode]').val();
        var taskname =  $('[name=taskName]').val();
        var createrName =  $('[name=taskCreater]').val();
        var startDate =    $('[name=startDate]').val();
        var startTime =   $('[name=startTime]').val();
        var endDate =   $('[name=endDate]').val();
        var endTime =   $('[name=endTime]').val();
        var searchConds = {
            userId:userId,
            projectId:projectId,
            state:state,
            processStepId:processStepId,
            taskCode:taskCode,
            createrName :createrName,
            startDate:startDate,
            startTime :startTime,
            endDate:endDate,
            endTime: endTime
        };
        sessionStorage.setItem("finAllTaskConds", searchConds);
    };
    jQuery(document).ready(function() {
        $("#btnFindAllTask").click(function () {
            storeSearch();
        });
    });
</script>