<!--变更单处理--“查找变更单”模态窗口-->
<!--<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">-->
<!-- 引导样式表 -->
<link rel="stylesheet" href="/stylesheets/bootstrap-datetimepicker.min.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap-clockpicker.min.css">
<!--<link rel="stylesheet" href="/resources/demos/style.css">-->
<form action="/excel/exportXls" id="formExportXls" class=" bs-component form-horizontal" method='post'>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myLargeModalLabel">导出变更单信息</h4>
    </div>
    <div  class="modal-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <label for="projectId" class="col-sm-2 control-label">变更单项目</label>
                        <div class="col-sm-4">
                            <select class="form-control" name="projectId"  id="projectId">
                                <option value="" selected >--请选择--</option>
                                <%if(projects && projects.length>0){%>
                                <%projects.forEach(function(pro,i){%>
                                <option value="<%=pro.projectId%>"><%=pro.projectName%></option>
                                <%})%>
                                <%}%>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="projectId" class="col-sm-2 control-label">本地+核心项目</label>
                        <div class="col-sm-4">
                            <select class="form-control" name="fileUriSeg" id="fileUriSeg">
                                <option value="" selected >--请选择--</option>
                                <option value="XJ" > 新疆本地 + 核心</option>
                                <option value="YN" >云南本地 + 核心</option>
                                <option value="SC" >四川本地 + 核心</option>
                                <option value="CORE" >核心</option>
                                <option value="ALL" >全部</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="createrName" class="col-sm-2 control-label">发起者</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" name="createrName" id="createrName" placeholder="请填写发起者的真实姓名  (如：张三)">
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="beginDate" class="col-sm-2 control-label">开始时间</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" name="startDate" id="startDate" style="">
                        </div>
                        <div class="input-group clockpicker col-sm-2"  data-placement="bottom" data-align="top" data-autoclose="true">
                            <input type="text" class="form-control" id ="startTime" name="startTime" value="09:00">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-time"></span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="endDate" class="col-sm-2 control-label">结束时间</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" name="endDate" id="endDate" >
                        </div>
                        <div class="input-group clockpicker col-sm-2"   data-placement="bottom" data-align="bottom" data-autoclose="true">
                            <input type="text" class="form-control" id ="endTime" name ="endTime" value="24:00">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-time"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <!--<div style="width:68%;float:left;margin-bottom:-20px;margin-top:-9px;height:50px;" id="diaInfoTip" class="alert alert-info alert-dismissible" role="alert"><span style="text-align:center;margin-left:auto;margin-right:auto;display:block;"><strong>信息提示</strong></span></div>-->
        <!--<div style="width:68%;float:left;margin-bottom:-20px;margin-top:-9px;height:50px;" id="diaErrTip" class="alert alert-danger alert-dismissible" role="alert"><span style="text-align:center;margin-left:auto;margin-right:auto;display:block;"><strong>错误提示</strong></span></div>-->
        <!--<div style="width:68%;float:left;margin-bottom:-20px;margin-top:-9px;height:50px;" id="diaSuccessTip" class="alert alert-success alert-dismissible" role="alert"><span style="text-align:center;margin-left:auto;margin-right:auto;display:block;"><strong>操作成功</strong></span></div>-->
        <div style="width:78%;float:left;margin-bottom:-20px;margin-top:-9px;height:50px;" id="diaSuccessTip" class="alert alert-success alert-dismissible" role="alert">
            <span style="text-align:center;margin-left:auto;margin-right:auto;display:block;"  >
                <strong id ="#applyMessage" name ="applyMessage" >操作完成</strong>
            </span>
        </div>
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="submit" id ="btnExportXls" class="btn btn-primary" >导出变更单</button>
    </div>
</form>
<!--<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>-->
<script type="text/javascript" src="/javascripts/bootstrap-clockpicker.min.js"></script>
<script>
    $(function() {
        $( "#startDate").datetimepicker({format:"yyyy-mm-dd",
            autoclose:true,
            minView:3,
            pickerPosition:"left"});

    });
    $(function() {
        $( "#endDate" ).datetimepicker({format:"yyyy-mm-dd",
            autoclose:true,
            minView:3,
            pickerPosition:"left"});
    });
    $('.clockpicker').clockpicker();

</script>

<!--<script src="/javascripts/exportTasks.js"></script>-->
